<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
    li {
      color: red;
    }  
    </style>
  </head>
  <body>
    <div id="app">

      <ul>
        <li v-for="f in frameworks" style="color: blue">
          {{f.name}} has {{f.votes}} votes
          <button @click="voteFor(f)">Vote</button>
          <button v-on:click="disapproval(f)">Disapproval</button>
          <a href="#" v-if="editMode" v-on:click="remove(f)">Delete</a>
        </li>
      </ul>
      <p>Current Winner(s): {{winnerString}}</p>
      <button v-on:click="toggleEditMode">{{ editMode ? 'Done' : 'Edit' }}</button>
      <input placeholder="Add new" v-if="editMode" v-on:keyup.enter="addNew">
    </div>
    <script src="index.js"></script>
  </body>
</html>